@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

/* font-family: "Pacifico", cursive;
 */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: "Inter", sans-serif;
    max-width: 1400px;
    margin: 0 auto;
    background: black;
    color: white;
    /* scroll-behavior: smooth; */
}

/* common style start here */

.btn-primary{
    color: white;
    background-color: orangered;
    /* padding: 16px 40px; */
    width: 100%;
    height: 60px;
    border: none;
    border-radius: 42px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    
}

.container{
    margin:0 auto;
    width: 80%;
}

:root{
    --primary-text-color:rgba(255, 255, 255, 0.5);
}

.section-heading-primary{

    font-size: 3rem;
    font-weight: 900;
    line-height: 120%;
}

.section-text-primary{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.3px;
}


/* common style end here */

/* ..............Header part style starts............................ */

header{
    background: linear-gradient(360deg,rgba(18, 17, 17, 0.1),rgba(255,255,255,0.1) 100%);
    
    
   

    
}


.header-container{
   
    padding-top: 3rem;
   
    
   
    
}

#navbar{
    display: flex;
    justify-content: space-between;
     align-items: center;
}

 .navlogo h2{
    color: orangered;
    font-size: 2.25rem;
    font-weight: 800;
    font-style: italic;

}

.nav-item{
    border: 1px solid rgba(148, 121, 121, 0.4);
    
    border-radius: 20px;
    
}

#navbar .nav-item ul{
    display: flex;
    gap: 20px;
  
}

.nav-item li{
    list-style-type: none;
    padding: 5px 15px;
    
}
.nav-item li a{
    text-decoration: none;
    color: white;
    
    

    
}

.nav-item-active{
    background-color: orangered;
    border-radius: 20px;

}

.header-content-container{
    
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
   
}

.header-content{
    max-width: 600px;
    margin-top: 4rem;
    padding: 5px
}

.header-content h1{
    font-size: 4.8rem;
    font-weight: 900;
    line-height: 120%;
    margin-bottom: 28px;

}

.header-content h1 .title-style{
    font-family: "Pacifico", cursive;
    font-weight: 400;
}

.header-content p{
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.5px;
    color: var(--primary-text-color);
    margin-bottom: 32px;
}

.header-content-btn{
    display: flex;
    gap:15px;
}
.header-content-btn button:nth-child(2){

    background: transparent;
    border: 1px solid rgb(255, 255, 255);
   
}

.header-image{
    
   
   
    
    display: flex;
    justify-content: flex-end;
  
}

.head-img{
    width: 335px;
    position: relative;
   
}

.header-image img{
    width: 335px;
    
  
    
}

.header-card{
    backdrop-filter: blur(6px);
    background: rgba(54, 53, 53, 0.54);
    width: 206px;
    height: 96px;
    border-radius: 10px;
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
    position:absolute;
}


.header-card .card-box{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: orangered;
}



.header-card:nth-child(1) {
    /* bottom: 63px; */
    left: -108px;
    top: 411px;
}

.header-card:nth-child(2) {
    top: 120px;
    right: -100px;
}

.header-card:nth-child(2) h2{
    font-size: 40px;
    font-weight: 900;

}

.card-content p{
    font-weight: 16px;
    font-weight: 100;
    color: rgba(255,255,255,0.6);
    

    
}








/* ....................header part style end...................... */


/* ..................///////////////////...........Main Part style Starts here................////////////////////////// */

        /* ......habit section starts ........*/

            #habit{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin-top: 6rem;
                
                gap: 3rem;
                
            }

            .habit-section-heading{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 1rem;
                max-width: 650px;
                
            }
            .habit-section-heading h1{
                
                
                text-align: center;

            }
            .habit-section-heading p{
                
                
                text-align: center;
                

            }

            .habit-section-card{
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr;
                gap: 2rem;
                
                
                
            }

            .habit-card{
                
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                
            }

            .habit-card img{
                border-radius: 50%;
                margin-bottom: 1.5rem;
            }

            .habit-card h3{
                text-align: center;
                margin-bottom: 0.5rem;
                font-weight: 600;
            }

            .habit-card p{
                color: var(--primary-text-color);
                font-size: 1rem;
                text-align: center;
                
            }

            



        /* ........habit section ends .......... */

        /* .........Run section starts........... */

            #run{
                margin-top: 6rem;
                display: grid;
                
                grid-template-columns: 1.2fr 0.8fr;
                gap: 2rem;
                background-color:rgba(255,255,255,0.2);
                padding: 1.5rem;
                border-radius: 16px;
                
                
            }
            .run-content{
                max-width: 500px;
                margin-top: 20px;
            }

            .run-content h1 {
              
                /* max-width: 290px; */
            }

            .run-content p{
                
                margin-top: 20px;
                margin-bottom: 40px;
                

            }

            .run-btn{
                width: 60%;
            }



          
                
                

            
            .run-image img{
                width: 450px;
                height: 320px;
                border-radius: 16px;
            }


        /* .........Run section ends........... */

        /* ...Training section starts here...... */

            #training{
                margin-top: 6rem;
            }

            .training-content{
                max-width: 600px;
                margin-bottom: 4rem;
            }

            .training-content h1{
                margin-bottom: 1.3rem;
            }

            .image-card-container img{
                width: 100%;
                height:100%;
                object-fit:cover;
            }
            .image-card{
                height: 250px;
            }

            .image-card-container>.row-1{
                display: grid;
                grid-template-columns: 0.7fr 1.5fr 0.8fr;
            }

            .image-card-container>.row-2{
                display: grid;
                grid-template-columns: 1.2fr 0.8fr 1fr;
            }

          

            
            .image-overlay {
                position: relative;
            }
            .image-overlay::before{
                content: '';
                position: absolute;
                top: 0;
                left: 10;
                width: 100%;
                height: 100%;
                 /* Red overlay with 50% opacity */
                pointer-events: none;
            }
            .row-1 .image-overlay:nth-child(1)::before{
                background: rgba(6, 255, 210, 0.5);
            }
            .row-1 .image-overlay:nth-child(2)::before{
                background: rgba(255, 0, 0, 0.3);
            }
            .row-1 .image-overlay:nth-child(3)::before{
                background: rgba(0, 0, 0, 0.5);
            }

            .row-2 .image-overlay:nth-child(1)::before{
                background: rgba(0, 0, 0, 0.5);
            }
            .row-2 .image-overlay:nth-child(2)::before{
                background: rgba(66, 255, 0, 0.3)
            }
            .row-2 .image-overlay:nth-child(3)::before{
                background: rgba(0, 71, 255, 0.3);
            }

            .image-card{
                position: relative;
            }

            .row-1 .image-card:nth-child(1)>p{
                position: absolute;
                bottom: 20px;
                left: 25px;
            }
            .row-1 .image-card:nth-child(2)>p{
                position: absolute;
                top: 20px;
                left: 25px;
            }
            .row-1 .image-card:nth-child(3)>p{
                position: absolute;
                bottom: 20px;
                right: 25px;
            }

            .row-2 .image-card:nth-child(1)>p{
                position: absolute;
                top: 20px;
                right: 10px;
            }
            .row-2 .image-card:nth-child(2)>p{
                position: absolute;
                bottom: 20px;
                left: 10px;
            }
            .row-2 .image-card:nth-child(3)>p{
                position: absolute;
                top:50%;
                left: 50%;
                transform: translate(-50%,-50%);
            }



            

         /* .....Training section starts here ....*/

         /* .......BMI section starts here......... */
            #bmi{
                margin-top: 6rem;
            }
            .bmi-heading{
               max-width: 650px;
               margin: 0 auto 88px;

            }

            .bmi-heading h1{
                margin-bottom: 20px;
            }

            .bmi-container{
                max-width: 1400px;
                background: rgb(34, 34, 34)
            }
            
            .bmi-calculator-container{
                
                 display: grid;
                 grid-template-columns: 1fr 1fr;
                 gap: 20px;
                 padding: 50px 10px;
                 
                 /* box-sizing: border-box; */
                  
            }

            .bmi-chart>h3{
                font-size: 2.1rem;
                
            }



            .bmi-chart-table table,th,td{
                border: 1px solid rgba(255, 255, 255, 0.1);
                border-collapse: collapse;
                color: rgba(255, 255, 255, 0.5);
            }

            .bmi-chart-table th{
                color: white;
                font-size: 18px;
            }
            .bmi-chart-table table{
                width: 70%;
                margin-top: 60px;
                
            }
            .bmi-chart-table th,td{
                padding: 16px;
            }

            .bmi-calculator>h3{
                font-size: 2.1rem;
                margin-bottom: 16px;
            }
            .bmi-calculator>p{
                font-size: 16px;
            }

            .bmi-calculator form{
                
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 13px;
                margin-top: 50px;
                
                
            }

            .bmi-calculator>button{
                margin-top: 40px;
                width: 60%;
            }
          

            form input,select{
                /* padding: 12px 40px 12px 20px; */
                width: 100%;
                height: 55px;
                background: rgba(255,255,255,0.1);
                border: none;
                border-radius: 8px;
                
                color: rgba(255, 255, 255, 0.6);
                font-size: 18px;
                padding: 10px;

            }


                form select{
                    color: gray;
                }
                
    

           form select:last-child{
                grid-column: span 2;
            }

            
           

         



         /* ........BMI section ends here ........*/

         /* .....team section starts here ......*/

                #team{
                    margin-top: 6rem;
                }

                #team .team-heading{
                    max-width: 650px;
                    margin: 0 auto 80px;
                    text-align: center;
                }

                .team-heading>h1{
                    margin-bottom: 20px;
                }

                .team-profile{
                    display: grid;
                    grid-template-columns: repeat(3,1fr);
                    background: rgba(255, 255, 255, 0.1);
                    border-radius: 18px;
                    gap: 20px;
                    padding: 20px
                }
                .team-profile img{
                    width: 100%;
                    height: 320px;
                    object-fit: cover;
                    border-radius: 18px;
                    filter: brightness(80%);
                }

                .team-member{
                    position:relative;
                }

                .team-member .member-info{
                    position: absolute;
                    bottom: 20px;
                    left: 20px;
                }

                .member-info>h3{
                    font-size: 25px;
                    font-weight: 800;
                }
                .member-info>p{
                    color:rgba(255, 255, 255, 0.5) ;
                    font-size: 17px;
                }
         /* .....team section ends here........ */


/* ..................///////////////////...........Main Part style Ends here................////////////////////////// */

/* ..............................................Footer ...............part................starts here.................. */

                footer{
                    max-width: 1400px;
                    margin-top: 6rem;
                    background: rgba(255, 255, 255, 0.1);
                }



                #footer-container{
                    padding-top: 70px;
                    display: grid;
                    grid-template-columns: repeat(2,1fr);
                    gap: 30px;
                }

                .footer-heading .navlogo>h2{
                    font-size: 5.5rem;
                    margin-bottom: 30px;

                }

                .footer-heading>p{
                    max-width: 550px;
                    line-height: 28px;
                }

                .footer-links{
                    display: flex;
                  justify-content: space-between;
                  gap: 20px;
                }

                .link-heading{
                    font-size: 2rem;
                    font-weight: 700;
                    margin-bottom: 50px;
                }

                .link li{
                    list-style-type: none;
                    margin-bottom: 10px;
                }

                 .link li a{
                    text-decoration: none;
                    color: rgba(255, 255, 255, 0.4);
                    font-size: 1.3rem;
                    cursor: pointer;
                    

                }

                hr{
                    margin-top: 30px;
                    margin-bottom: 30px;

                }

                .right-reserve{
                    text-align: center;
                    padding-bottom: 50px;
                }

              
                



/* ..............................................Footer ...............part................ends here.................. */



/* responsive for different device  starts here*/

/*................................... mobile device....................................... */

@media screen and (max-width:576px){

    #navbar .nav-item{
        display: none;
    }

    .header-content-container{
        /* flex-direction: column; */
        grid-template-columns: 1fr;
    }
    .header-content {
       
        margin-top: 0;
       
    }
    .header-content h1 {
        font-size: 2.8rem;
       
        line-height: 105%;
        
    }
    .header-content-btn{
            justify-content: center;
            align-items: center;
    }
    .btn-primary {
       
        
        width: 100%;
      
        font-size: 17px;
      
       
    }

    .header-image{
        
        width: 100%;
       
       
        display: flex;
        justify-content: center;
        
    }
    

        .header-card {
            width: 160px;
            height: 85px;
        }
      
       .header-card:nth-child(1) {
        bottom: 232px;
        left: -15px;
         }

         .header-card:nth-child(2) {
            top: 30px;
            right: 0px;
        }

    .header-card .card-box {
        width: 30px;
        height: 30px;
        
       
    }

    .header-card:nth-child(2) h2 {
        font-size: 35px;
        
    }

    /* .......main......part .....*/

            #habit{
                margin-top: 2rem;
            }
            .habit-section-heading h1{
                font-size: 2rem;
            }
            .habit-section-card{
                grid-template-columns: 1fr;
            }
            .habit-card p{
                width: 250px;
            }

            #run{
                grid-template-columns: 1fr;
                margin-top: 2rem;
            }
            .run-content h1 {
                font-size: 2.2rem;
               font-weight: 700;
            }
            .run-content p {
                
                margin-top: 10px;
                margin-bottom: 15px;
            }

            .run-image img{
                width: 100%;
                height: 100%;
            }
            .run-btn{
                width: 100%;
            }

            #training .training-content h1{
                font-size: 2rem;
            }

            #training .row-1{
                grid-template-columns: 1.1fr 0.9fr;
                
            }

            .image-card{
                height: 200px;
            }

            .row-1 .image-card:nth-child(3){
                grid-column: span 2;
            }
            #training .row-2{
                grid-template-columns: 0.9fr 1.1fr;

            }

            .row-2 .image-card:nth-child(3){
                grid-column: span 2;
            }

          

            #bmi .bmi-calculator-container{
                grid-template-columns: 1fr;
                gap: 50px;
            }

            .bmi-chart-table table{
                width: 100%
            };

            .bmi-heading>h1{
                font-size: 2rem;
            }

            .bmi-chart>h3{
                font-size: 1.8rem;
            }
            .bmi-calculator>h3{
                font-size: 1.7rem;
            }

            .bmi-calculator>button{
                width: 100%;
            }

            .team-heading>h1{
                font-size: 2rem;
            }

            .team-profile{
                grid-template-columns: 1fr;
            }

            #footer-container{
                grid-template-columns: 1fr;
                
            }

            .footer-links{
                display: grid;
                grid-template-columns: 1fr;
                gap: 30px;
                        }
          
          

    /* .......main......part .....*/
}

/*................................... Mobile device....................................... */


/* /////////////....................Tablet or medium device...........///////////////////*/

@media  screen and (min-width:576px) and (max-width:992px){
        .header-content-container{
            grid-template-columns: 1fr;
        }
        .header-image{
            justify-content: center;
        }
        .header-card:nth-child(1) {
            bottom: 120px;
            left: -65px;
        }
        .header-card:nth-child(2) {
            top: 55px;
            right: -60px;
        }

        /*......... main... part.......... */
            .habit-section-card{
                grid-template-columns: 1fr 1fr;
            }
            #run{
                grid-template-columns: 1fr 1fr;
                
                

            }

            .run-btn{
                width: 80%;
            }
            .run-image{
                width: 100%;
                border: 1px solid green;
                display: flex;
                justify-content: flex-end;
                
                
            }
            .run-image img{
                width: 100%;
                height: 100%;
            }

            .bmi-calculator-container{
                grid-template-columns: 1fr;
                gap: 50px;
            }
            .bmi-calculator>button{
                width: 50%;
                display: block;
                margin-left: auto;
                margin-right: auto;
            }

            .team-profile{
                grid-template-columns: 1fr 1fr;
            }

            #footer-container{
                grid-template-columns: 1fr;
                
            }

            .footer-links{
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 30px;
            }

        

           

          

        /* .........main....Part.......... */
    
}

/* /////////////....................Tablet or medium device...........///////////////////*/




/* responsive for mobile device  ends here*